.prism-container {
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
  display: grid;
  place-items: center;
  position: relative;
  transform-style: preserve-3d;
  animation-name: rotate;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.empty-div {
  height: 12rem;
  width: 12rem;
}

.face {
  position: absolute;
  width: 4rem;
  height: 5rem;
  border: black 1px solid;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  color: black;
}

.logo {
  margin-top: 1rem;
  height: 5rem;
  transition: h 0.4s ease;
}

.scoreboard p {
  transition: all 0.4s ease;
  text-align: right;

  /* fixing flip */
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.winnerboard {
  text-align: center;
  font-size: 0.7rem;
  transition: all 0.4s ease;
}

.front-face {
  transform: translateX(-2rem) rotateY(60deg);
}

.left-face {
  transform: rotateY(120deg);
}

.right-face {
  transform: translateX(-1rem) translateZ(1.7rem);
}


@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
